:root {
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-300: oklch(80.8% 0.114 19.571);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-amber-600: oklch(66.6% 0.179 58.318);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-900: oklch(42.1% 0.095 57.708);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-black: #000;
  --color-white: #fff;
}
